body {
    width: 100vw;
    overflow-x: hidden;
    color: white;
    background-color: #1d1d1d;
    background-image: url("./images/star-wars-backgrounds-25.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

div {
    padding: 1%;
}

div .row {
    margin: 1%;
}

#submit {
    background-color: #63635d;
    color: white;
    border: 1px solid #1d1d1d;
    padding: 1%;
    margin-top: 3%;
    width: 15%;
    height: 5%;
}

#loading {
    color: black;
    width: 20%;
    height: 5%;
    background-color: yellow;
    position: absolute;
    margin-top: 25%;
    margin-bottom: 0;
    z-index: 9999;
    visibility: hidden;
}

#loading.display {
    visibility: visible;
}

.main-block {
    width: 100%;
    background-color: #1e1b1b;
    position: relative;
    opacity: 0.7;
}

.row-block,
.row-block-2 {
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.main-col {
    width: 100%;
}

/* .heading {
    text-decoration: underline;
} */

.col-block {
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.data-block {
    overflow-x: auto;
    width: 100%;
    padding: 1%;
}